<style>
    body, h1, h2, h3, div, p, td {
      font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
      font-size: 16px;
    }
    p, .Inner td {
      line-height: 24px;
      mso-line-height-rule: exactly;
    }

    .Header {
      background-color: #65DFE0;
      border-radius: 0 0 8px 8px;
      width: 100%;
    }
    .Header td {
      text-align: center;
      padding: 24px;
    }
    .Header td.ButtonRow {
      padding-top: 0;
      padding-bottom: 32px;
    }
    .Header td td {
      padding: 0;
    }

    h1 {
      font-size: 28px;
      font-weight: 800 !important;
      color: #002d33;
      margin: 0 0 8px 0;
      line-height: 36px;
    }
    h2.Goal {
      font-size: 22px;
      line-height: 28px;
      color: #082226;
      font-weight: 700;
      margin: 0;
    }
    p.MeetingDate {
      font-size: 18px;
      font-weight: 600;
      color: #064e5c;
      margin: 8px 0 0 0;
    }

    .Button {
      margin: auto;
      background-color: #bf3078;
      border-radius: 8px;
    }
    .Button a {
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      border: 1px #bf3078 solid;
      padding: 12px 16px;
    }

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #5e0532;
      margin: 24px 0 0 0;
    }

    h3 {
      font-size: 16px;
      color: #996780;
      margin: 16px 0 0 0;
    }
    
    h4 {
      margin: 4px 0 0 0;
      font-size: 12px;
      font-weight: bold;
      color: #888;
      text-transform: uppercase;
    }

    p.Empty {
      color: #000000;
      margin-bottom: 16px;
    }

    .DueDate {
      background-color: #a6a6a6;
      color: white;
      font-weight: bold;
      border-radius: 4px;
      display: inline-block;
      padding: 1px 2px;
      line-height: 22px;
      font-size: 14px;
    }

    table.Sec, .Sec table {
      width: 100%;
    }

    .Sec .Inner {
      padding: 20px 20px 40px 20px;
    }
    .Sec h2 {
      margin-bottom: 8px;
    }
    .Sec table td {
      padding: 0;
      vertical-align: top;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .Sec table td.Bullet {
      width: 32px;
    }
    .Sec table td.Bullet div {
      margin-top: 2px;
    }

    .Sec .Protocol table td.Bullet {
      width: 24px;
    }
    .Sec .Protocol table td {
      padding-top: 0;
      padding-bottom: 0;
    }

    .Protocol .Items.NoCaption {
      margin-top: 4px;
    }

    .ProtocolType {
      font-weight: bold;
      color: #333;
    }


    .Notes {
      background-color: #f0f0f0;
      border-radius: 8px;
      margin-top: 12px;
      width: 100%;
    }
    .Notes .Inner {
      padding-top: 0;
      padding-bottom: 20px;
    }
    .Notes td, .Notes h2, .Notes h3 {
      color: #555555;
    }

    .Footer {
      text-align: center;
      margin-top: 32px;
    }
    .Footer p {
      margin-top: 24px;
      color: #999;
      font-size: 13px;
    }

    .BasicEmail * {
      text-align: center;
    }
    .BasicEmail h1 {
      margin-top: 16px;
    }
    .BasicEmail p {
      margin: 16px 0;
    }
    .BasicEmail .Small {
      color: #999;
      font-size: 14px;
    }
    .BasicEmail .Button {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    a.UnLink {
      color: #999;
      text-decoration: none;
    }
  </style>