Join {{senderName}} in Miter for Better Meetings!
================================================================================

Hi, {{recipientName}}! {{senderName}} has sent you this invitation to join them in Miter.

Miter guides users to great meetings with our research-backed workflow. Establish clear purpose, facilitate like a pro, and track the summary & action items afterward. We make meetings effective and inclusive, with less work. Your team will thank you.

To get started now, just click this link:
{{{url}}}

Want to learn more about Miter first? Visit us on the web at https://miter.co.
