<div class="BasicEmail">
  <div><img src="http://cdn.mcauto-images-production.sendgrid.net/75638682e510bcb9/857ff29c-d894-4f42-81f3-a5cc70fc8be0/700x256.png" width="132" height="48" alt="Miter Logo" /></div>
  <h1>Join {{senderName}} in Miter for Better Meetings!</h1>
  <p>Hi, {{recipientName}}! {{senderName}} has sent you this invitation to join them in Miter.</p>
  <p>Miter guides users to great meetings with our research-backed workflow. Establish clear purpose, facilitate like a 
  pro, and track the summary &amp; action items afterward. We make meetings effective and inclusive, with less work. 
  Your team will thank you.</p>
  <table class="Button"><tr><td><a href="{{{url}}}">Join Miter Now</a></td></tr></table>
  <p class="Small">Want to learn more about Miter? <a href="https://miter.co">Visit us on the web</a>, or check out these screenshots:</p>
  <div><img src="http://cdn.mcauto-images-production.sendgrid.net/75638682e510bcb9/88df1487-2123-4017-ab5f-7566e6b9b1fb/1200x760.gif" width="600" height="380" alt="Screenshots of Miter" /></div>
</div>
