*************************
Verify Your Email Address
*************************

Thanks for using Miter! In order to complete your sign-in, we need to verify your email address. It's as easy as clicking this link:

{{{url}}}

We'll see you back in Miter momentarily!
