<div class="BasicEmail">
  <div><img src="http://cdn.mcauto-images-production.sendgrid.net/75638682e510bcb9/857ff29c-d894-4f42-81f3-a5cc70fc8be0/700x256.png" width="132" height="48" alt="Miter Logo" /></div>
  <h1>Verify Your Email Address</h1>
  <p>Thanks for using Miter! In order to complete your sign-in, we need to verify your email address. It's as easy as clicking the button below.</p>
  <table class="Button"><tr><td><a href="{{{url}}}">Verify My Account</a></td></tr></table>
  <p class="Small">
    If for some reason the button above doesn't work, you can use this link instead:
    <br />
    <a class="UnLink" href="{{{url}}}">{{{url}}}</a>
  </p>
</div>
